<!-- Validation failure messages -->
<% if @food_type.errors.any? %>
  <% @food_type.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Food Type #<%= @food_type.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_food_type/<%= @food_type.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for food_type -->
      <div class="form-group">
        <label for="food_type" class="control-label">
          Food type
        </label>

        <input type="text" id="food_type" name="food_type" placeholder="Food type" class="form-control" value="<%= @food_type.food_type %>">
      </div>

      <button class="btn btn-warning">
        Update Food Type
      </button>
      or
      <a href="/food_types/<%= @food_type.id %>">Cancel</a>
    </form>
  </div>
</div>
